{% extends "layout.html" %}

{% block content %}
  

  <section id="page-header" class="about-header">
    <h2>#let's_talk</h2>
    <p>LEAVE A MESSAGE, We love to hear from you!</p>
  </section>

  <!-- bhai ye hai bawal -->
  <section id="form-details">
   <form action="">
    <h2>We love to hear from you</h2>
    <input type="text" placeholder="Your Name">
    <input type="text" placeholder="E-mail">
    <input type="text" placeholder="Subject">
    <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
    <button class="normal">Submit</button>
   </form>

   <div class="people">
    <div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQvlj3N9P9_eE4om4oJqkhOHMaKtj3QtWLIqfnS18b_o2aWxLJuNlSaYWpY6HuYxyfnVA&usqp=CAU"  alt="">
     <p><samp>Saif </samp> ,Senior Normalization Engineer <br> Phone: +92 321 3856601 <br> Email: kamchoor@example.com</p>
    </div>

    <div>
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6Vagf0PwFgKA37y8LrgwJtylQai11QC72AA&s" alt="">
     <p><samp>Baseer</samp> ,Senior DBMS Engineer <br> Phone: +92 323 2030337 <br> Email: digggi@example.com</p>
    </div>

    <div>
     <img src="https://img6.arthub.ai/65237974-3c65.webp" alt="">
     <p><samp>Owais</samp> ,Senior baten karne ka Manager <br> Phone: +92 333 0203085 <br> Email: jamati@example.com</p>
    </div>

    
   </div>
  </section>

{% endblock  %}