{% extends "layout.html" %}


{% comment %} {% block content %}

    old simple html
<section id="product1" class="section-p1">
    <div class="pro-container">

      <div class="pro" onclick="window.location.href='sproduct.html'">
        <a href="/shop/product"><img src="/static/img/products/2.jpg" alt="" /></a>
        <div class="des">
          <span>adidas</span>
          <h5>Cartoon Astronaut T-Shirts</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro">
        <a href="/shop/product"><img src="/static/img/products/3.jpg" alt="" /></a>
        <div class="des">
          <span>adidas</span>
          <h5>Cartoon Astronaut T-Shirts</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>
      <div class="pro">
        <a href="/shop/product"><img src="/static/img/products/4.jpg" alt="" /></a>
        <div class="des">
          <span>adidas</span>
          <h5>Cartoon Astronaut T-Shirts</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro">
        <a href="/shop/product"><img src="/static/img/products/5.jpg" alt="" /></a>
        <div class="des">
          <span>adidas</span>
          <h5>Cartoon Astronaut T-Shirts</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro">
        <a href="/shop/product"><img src="/static/img/products/6.jpg" alt="" /></a>
        <div class="des">
          <span>adidas</span>
          <h5>Cartoon Astronaut T-Shirts</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro">
        <img src="../static/img/products/7.jpg" alt="" />
        <div class="des">
          <span>adidas</span>
          <h5>Cartoon Astronaut T-Shirts</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro">
        <img src="../static/img/products/8.jpg" alt="" />
        <div class="des">
          <span>adidas</span>
          <h5>Cartoon Astronaut T-Shirts</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro">
        <img src="../static/img/products/f8.jpg" alt="" />
        <div class="des">
          <span>adidas</span>
          <h5>Cartoon Astronaut T-Shirts</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>
    
      <div class="pro">
        <img src="../static/img/products/n1.jpg" alt="" />
        <div class="des">
          <span>adidas</span>
          <h5>Cartoon Astronaut T-Shirts</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro">
        <img src="../static/img/products/n2.jpg" alt="" />
        <div class="des">
          <span>adidas</span>
          <h5>Cartoon Astronaut T-Shirts</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>
      <div class="pro">
        <img src="../static/img/products/n3.jpg" alt="" />
        <div class="des">
          <span>adidas</span>
          <h5>Cartoon Astronaut T-Shirts</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro">
        <img src="../static/img/products/n4.jpg" alt="" />
        <div class="des">
          <span>adidas</span>
          <h5>Cartoon Astronaut T-Shirts</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro">
        <img src="../static/img/products/n5.jpg" alt="" />
        <div class="des">
          <span>adidas</span>
          <h5>Cartoon Astronaut T-Shirts</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro">
        <img src="../static/img/products/n6.jpg" alt="" />
        <div class="des">
          <span>adidas</span>
          <h5>Cartoon Astronaut T-Shirts</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro">
        <img src="../static/img/products/n7.jpg" alt="" />
        <div class="des">
          <span>adidas</span>
          <h5>Cartoon Astronaut T-Shirts</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro">
        <img src="../static/img/products/n8.jpg" alt="" />
        <div class="des">
          <span>adidas</span>
          <h5>Cartoon Astronaut T-Shirts</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$78</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>
    </div>
  </section>

  <section id="pagination" class="section-p1">
   <a href="#">1</a>
   <a href="#">2</a>
   <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
  </section>




{% endblock  %} {% endcomment %}
{% load static %}

{% comment %} html with no pagination logic {% block content %}
<section id="product1" class="section-p1">
    <div class="pro-container">
        {% for product in products %}
        <div class="pro">
            <a href="/shop/product/{{ product.product_id }}">
                {% if product.images.all %}
                <img src="{{ product.images.first.image.url }}" alt="{{ product.title }}" />
                {% else %}
                <img src="{% static 'img/products/default.jpg' %}" alt="Default Image" />
                {% endif %}
            </a>
            <div class="des">
                <span>{{ product.title }}</span>
                <h5>{{ product.description }}</h5>
                <h4>${{ product.price }}</h4>
                {% if product.discount %}
                <p class="discount-text">Discount: {{ product.discount }}</p>
                {% endif %}
            </div>
            <a href="/cart"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        {% endfor %}
    </div>
</section>

<section id="pagination" class="section-p1">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
</section>
{% endblock %} {% endcomment %}



{% block content %}
<section id="product1" class="section-p1">
  <h1 style="text-align:center;">{{category}}</h1>
    <div class="pro-container">
        {% for product in page_obj %}
        <div class="pro">
            <a href="/shop/product/{{ product.product_id }}">
                {% if product.images.all %}
                <img src="{{ product.images.first.image.url }}" alt="{{ product.title }}" />
                {% else %}
                <img src="{% static 'img/products/default.jpg' %}" alt="Default Image" />
                {% endif %}
            </a>
            <div class="des">
                <span>{{ product.title }}</span>
                <h5>{{ product.description }}</h5>
                <h4>${{ product.price }}</h4>
                {% if product.discount %}
                <p class="discount-text">Discount: {{ product.discount }}</p>
                {% endif %}
            </div>
            <a href="/cart"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        {% endfor %}
    </div>
</section>

<section id="pagination" class="section-p1" style="text-align:center;">
    <div class="pagination">

        {% if page_obj.has_previous %}
        <a href="?{% if category %}category={{ category }}&{% endif %}page=1">&laquo; First</a>
        <a href="?{% if category %}category={{ category }}&{% endif %}page={{ page_obj.previous_page_number }}">&lsaquo; Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a href="?{% if category %}category={{ category }}&{% endif %}page={{ num }}" class="current-page">{{ num }}</a>
        {% else %}
        <a href="?{% if category %}category={{ category }}&{% endif %}page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a href="?{% if category %}category={{ category }}&{% endif %}page={{ page_obj.next_page_number }}">Next &rsaquo;</a>
        <a href="?{% if category %}category={{ category }}&{% endif %}page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </div>
</section>

<style>
  .pagination {
      justify-content: center;
      align-items: center;
  }</style>
{% endblock %}

