.venv/
venv/
vnv/
__pycache__/
*.py[cod]
*$py.class
media/
media/*
staticfiles/
*.sqlite3
db.sqlite3
.env
.vscode/
.idea/
.DS_Store
coverage.xml
htmlcov/
pip-wheel-metadata/
instance/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
